<!DOCTYPE HTML>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="common/header-resource"/>

    <title>钉钉配置</title>
</head>

<body>
<div th:replace="common/navbar"/>
<!-- Begin page content -->
<div class="container">
    <div class="page-header">
        <h2>钉钉配置</h2>
    </div>
    <form method="post" action="update" class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label">corp id：</label>
            <div class="col-sm-2">
                <input type="text" class="form-control input-sm" placeholder="请输入corp id" name="corpId"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">agent id：</label>
            <div class="col-sm-2">
                <input type="text" class="form-control input-sm" placeholder="请输入agent id" name="agentId"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">app key：</label>
            <div class="col-sm-4">
                <input type="text" class="form-control input-sm" placeholder="请输入app key" name="appKey"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">secret key：</label>
            <div class="col-sm-4">
                <input type="text" class="form-control input-sm" placeholder="请输入secret key" name="secretKey"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2">
                <input type="submit" value="提交" class="btn btn-sm btn-primary"/>
            </div>
        </div>
    </form>
</div>

<div th:replace="common/footer-resource"/>

</body>
</html>