<!DOCTYPE HTML>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="common/header-resource"></div>

    <title>项目部署审批</title>
</head>

<body>
<div th:replace="common/navbar"></div>
<!-- Begin page content -->
<div class="container">
    <div class="page-header">
        <h2>项目部署审批</h2>
    </div>
    <p class="lead">
        <span th:text="${deployApply.description}"></span>
    </p>
    <form method="post" id="deployForm">
        <input type="hidden" id="deployApply-id" th:value="${deployApply.id}"/>
        <table class="table table-striped table-bordered table-hover" id="deployTable">
            <tr>
                <th style="width: 240px">项目</th>
                <th style="width: 160px">版本</th>
                <th style="width: 120px">操作</th>
                <th>结果</th>
            </tr>
            <tr th:each="deployProjectApply:${deployProjectApplyList}">
                <td th:text="${deployProjectApply.project}"></td>
                <td th:text="${deployProjectApply.version}"></td>
                <td th:attr="id=${deployProjectApply.project + '-operation'}">
                    <a th:href="@{${jenkinsConfig.url} + '/job/' + ${deployProjectApply.project} + '/lastBuild/console'}"
                       target="_blank">console输出</a>
                </td>
                <td><span th:attr="id=${deployProjectApply.project + '-result'}"></span></td>
            </tr>
        </table>
        <p>
            <input type="button" value="蓝绿发布" id="deployButton" class="btn btn-default"/>
            <input type="button" value="确认发布" id="confirmButton" class="btn btn-default"/>
        </p>
    </form>
    <div id="errorMessage" class="text-warning"></div>
</div>

<div th:replace="common/footer-resource"></div>

<script type="text/javascript">

    var websocket = null;

    //判断当前浏览器是否支持WebSocket
    if ('WebSocket' in window) {
        websocket = new WebSocket("[[${'ws://' + #httpServletRequest.getServerName() + ':' + #httpServletRequest.getServerPort() + #httpServletRequest.getContextPath() + '/jenkins-project-approve'}]]");
    } else {
        alert('Not support websocket')
    }

    //连接发生错误的回调方法
    websocket.onerror = function (event) {
        console.log(event);
        operationComplete();
    };

    //连接成功建立的回调方法
    websocket.onopen = function (event) {
        console.log(event);
    };

    //接收到消息的回调方法
    websocket.onmessage = function (event) {
        console.log(event);
        displayResult(event.data);
    };

    //连接关闭的回调方法
    websocket.onclose = function (event) {
        console.log(event);
        operationComplete();
        if (event && event.reason !== "") {
            $("#errorMessage").text(event.reason);
        }
    };

    //监听窗口关闭事件，当窗口关闭时，主动去关闭websocket连接，防止连接还没断开就关闭窗口，server端会抛异常。
    window.onbeforeunload = function () {
        console.log(event);
        websocket.close();
    };

    function displayResult(result) {
        var jsonResult = JSON.parse(result);
        if (jsonResult["phase"] === "complete") {
            operationComplete();
        } else {
            document.getElementById(jsonResult['project'] + "-result").innerText = jsonResult['message'];
        }
    }

    //关闭连接
    function closeWebSocket() {
        websocket.close();
    }

    $("#deployButton").on("click", function () {
        $(this).attr("disabled", true);
        $("#confirmButton").attr("disabled", false);
        $("#deployTable td span").text("");

        websocket.send(JSON.stringify({
            daId: $("#deployApply-id").val(),
            action: "DEPLOY"
        }));
    });
    $("#confirmButton").on("click", function () {
        $(this).attr("disabled", true);
        $("#deployButton").attr("disabled", false);
        $("#deployTable td span").text("");

        websocket.send(JSON.stringify({
            daId: $("#deployApply-id").val(),
            action: "CONFIRM"
        }));
    });

    function operationComplete() {
        $("#deployButton").attr("disabled", false);
        $("#confirmButton").attr("disabled", false);
    }

    $("#checkAll").on("click", function () {
        $("input[name='projects[]']").prop("checked", this.checked);
    });
</script>
</body>
</html>